@import 'colors.scss';

.cornerlogo{

    width: 10rem;
    position: fixed;
    top: 1.7rem;
    left: 1.5rem;
    border: none;

}

#rightcornerbutton{
    border-radius: 7px;
    padding: 1rem;
    // box-sizing: border-box;
    font-size: 12px;
    font-weight: 700;
    font-family: $text;
    background-color: $brown;
    color: $yellow;
    text-decoration: none;
    letter-spacing: 4px;
    text-transform: uppercase;
    position: fixed;
    top: 1.8rem;
    right: 2rem;
    border: none;
    outline: none;
    transition: all 0.2s ease-in-out;
    transform-origin: bottom;
    &:hover{
        transform: skewX(-10deg); 
    }

    
}